@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is an interface to do your banking transactions.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Go to account details >> </h2>
        <p>
          Click here to do any transaction on your account.
        </p>
        <p><a class="btn btn-default" href="/Home/Transact">Transact</a></p>
    </div>
</div>